<div class="container">
    <header>
        <div class="top">
            <h1>Weekly Goals</h1>
            <img src="../../assets/pencil.svg" alt="Pencil image" width="20" height="20" (click)="addGoal()" style="cursor: pointer;">
        </div>
        <p class="fall2020">9/24 - 9/30</p>
    </header>

    <section class="goals" id="goals">
        <div *ngFor="let goal of goals" class="goal">
            <div class="check" (click)="toggleGoalCompletion(goal)">
                <img [src]="goal.completed ? 'assets/checked.svg' : 'assets/checkbox.svg'" alt="Check-box" width="21.04" height="21.06">
                <h2 [ngClass]="{'completed':goal.completed}">{{ goal.title }}</h2>
            </div>
            <div class="goal-info">
                <p class="hash">{{ goal.hash }}</p>
                <p class="progress">{{ goal.progress }}</p>
            </div>
            <hr>
        </div>
    </section>

    <footer>
        <p class="add-goal" (click)="addGoal()" style="cursor: pointer;">+ Add a weekly goal</p>
    </footer>
</div>
