<div class="container">

    <div class="top">
        <div class="row">
            <h2 id="title">Weekly Goals</h2>
            <img src="../../assets/x.svg" alt="X">
        </div>
        <h3 id="week">9/24 - 9/30</h3>



    </div>

    <div class="mid">
        <section class="goals" id="goals">
            <div class="goal">
                
                <div class="goal-item">
                    <img src="../../assets/dots.svg" alt="dots" class="dots">
                    
                    <div class="textline">
                        <p class="goaltext">Finish Google cover letter</p>
                        <hr>
                    </div>
    
                    <div class="hashline">
                        <p class="hash">#apply-internship</p>
                        <hr>
                    </div>
                </div>
    
                
                <div class="goal-item">
                    <img src="../../assets/dots.svg" alt="dots" class="dots">
                    
                    <div class="textline">
                        <p class="goaltext">Apply to Microsoft</p>
                        <hr>
                    </div>
    
                    <div class="hashline">
                        <p class="hash">#apply-internship</p>
                        <hr>
                    </div>
                </div>

                <div class="goal-item">
                    <img src="../../assets/dots.svg" alt="dots" class="dots">
                    
                    <div class="textline">
                        <p class="goaltext">Practice implementing data structures</p>
                        <hr>
                    </div>
    
                    <div class="hashline">
                        <p class="hash" id="orange">#class-algorithms</p>
                        <hr>
                    </div>
                </div>

                <div class="goal-item">
                    <img src="../../assets/dots.svg" alt="dots" class="dots">
                    
                    <div class="textline">
                        <p class="goaltext" id="goalgrey">Enter your goal...</p>
                        <hr>
                    </div>
    
                    <div class="hashline">
                        <p class="hash" id="grey">quarterly goal...</p>
                        <hr>
                    </div>
                </div>

                
            </div>
        </section>

        <div class="bottom">
            <div class="button">
                <button id="save">Save</button>
            </div>
        </div>
    </div>
    









</div>
